name: Danger

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  danger:
    name: Danger

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install
        uses: bahmutov/npm-install@v1

      - name: Danger
        uses: danger/danger-js@11.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
