name: Release

env:
  CI: "true"

on:
  push:
    branches:
      # https://semantic-release.gitbook.io/semantic-release/usage/configuration#branches
      - master
      - next
      - next-major
      - beta
      - alpha
      # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#patterns-to-match-branches-and-tags
      - '[0-9]+.x'        # N.x
      - '[0-9]+.x.x'      # N.x.x
      - '[0-9]+.[0-9]+.x' # N.N.x

jobs:
  npm-publish:
    name: npm publish

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 14

      - name: Install
        uses: bahmutov/npm-install@v1

      - name: Build
        run: npm run build

      ## Uncomment below for releases to work
      ## Also need to define NPM_TOKEN env variable

      - name: Semantic Release
        if: success()
        env:
          GIT_AUTHOR_NAME: Scale Bot
          GIT_AUTHOR_EMAIL: scale-bot@scaleleap.com
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        run: npm run semantic-release

      - name: Docs
        run: npm run docs

      - name: Deploy docs to Netlify
        uses: nwtgck/actions-netlify@v1.2.4
        with:
          publish-dir: ./docs/typedoc
          production-branch: master
          production-deploy: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          deploy-message: Deploy from GitHub Actions
          enable-pull-request-comment: false
          enable-commit-comment: false
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
